body{
  margin: 30px 40px 10px 40px;
  padding: 0;
  font-family: "Calibri", Courier, monospace; font-size: 12px
  ;
}
h1 {
    font-family: "Calibri"; font-size: 46px;
    background-color: #a2c7f2;
    color: #426493;
}
.contact_image{width: 250px; height: 200px}
.all_red_things{ color: #426493;font-family: "Calibri"; font-size: 12px}
